body{
  background: #0C1D49;
  margin: 0;
  font-family: 'Calibri'
  
}

header{
  width: 100%;
  background: #0C1D49;
  z-index: 100;
}

#btnMenu{
  display: none;
}

.logoDesktop{
  height: 50px;
  position: relative;
  top: -18px;
}

.textoMobile{
  display: none;
}

.logoMobile{
  display: none;
}

header label{ 
  display: none;
  width: 30px;
  height: 30px;
  padding: 10px;
  border-right: 1px solid #0c1324;
}

header label:hover {
  cursor: pointer;
  background: rgba(24, 163, 156, 0.26);
}

.headerMenu ul { 
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;  
}

.headerMenu li a {
  display: block;
  padding: 10px 25px;
  color: #fff;
  text-decoration: none;
  font-size: 22px;
  text-shadow: rgba(255, 248, 248, 0.742) .001em .01em .1em;
  position: relative;
  top: 15px;
}

.headerMenu li:hover {
  background: rgba(24, 163, 156, 0.26);
}

#sec1 {
  display: none;
}

#sec2 { 
  display: none;
}

@media (max-width:768px){

  header label{ 
    display: block;
  }

  .headerMenu{ 
    position: absolute;
    background: #0C1D49;
    width: 70%;
    margin-left: -70%;
    z-index: 100;
  }

  .headerMenu ul {
    flex-direction: column;
  }

  .headerMenu li {
    border-top: .5px solid rgba(72, 185, 207, 0.831);

  }

  
 
  #btnMenu:checked ~.headerMenu {
    margin: 0;
    position: right;
    
  }
  .logoDesktop{
    display: none;
  }

 
  .textoMobile{
    display: inline-block;
  }
}

.videoMain{
  width:100%;
  
}

.imageMain{
  width:100%;
  position: relative
}

.textMain {
  position: absolute
}


#pie {
  color: #fff;
  width: center;
  Text-align: center;
  z-index: 100

}

 /* pagina "Contac" -  Formulario de contacto */

.container{
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto; 
}

ul {
  list-style: none;
  padding: 0;
}

.contact-wrapper > * {
  padding: 1em;
}

.contact-form {
  background:#071230;
  color: #fff;
}

.contact-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact-form form label {
  display: block;
}

.contact-form form p {
  margin: 0;
  padding: 1em;
}

.contact-form form .block {
  grid-column: 1 / 3;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: .7em;
  border: none;
  background: none;
  outline: 0;
  color: #fff;
  border-bottom: 1px solid rgb(33, 72, 157);
}

.contact-form form button {
  background:rgb(33, 72, 157);
  border: 0;
  text-transform: uppercase;
  padding: 1em;
}

.contact-form form button:hover,
.contact-form form button:focus {
  background: rgb(102, 122, 166);
  color: rgba(255, 255, 255, 0.534);
  transition: background-color 1s ease-out;
  outline: 0;
}


.contact-info {
  background: rgb(218, 218, 218);
  
}

.contact-info h4, .contact-info ul, .contact-info p {
  text-align: center;
  margin: 0 0 1rem 0;
  color: rgb(0, 0, 0);
}

/* LARGE SIZE */
@media(min-width: 700px) {
  body {
      padding: 0 4em;
  }
  .contact-wrapper {
      display: grid;
      grid-template-columns: 2fr 1fr;
  }
  .contact-wrapper > * {
      padding: 2em;
  }
  .contact-info h4,
  .contact-info ul,
  .contact-info p {
      text-align: left;
  }
}

/*Index*/

.container {
  width: 100%;
  max-width: 1170px;
  margin: 1.6em auto;
  display: grid;
  gap: 1.6em;
  /* grid-template-columns: repeat(4, 1fr) 3%; */
  grid-template-columns: repeat(5, 1fr);
}

.container>.header, .container>.content, .container>.sidebar, .container>.footer, .container>div {
  background: #fff;
  padding: 20px;
  border: 1px solid #000000;
}


.container>.content {
  grid-column: span 3;
  grid-row: span 4;
}

.content>.article {
  background: #808e9b;
  padding: 20px;
  margin-top: 5px;
  color: #dfe6e9
}

.content .article h1,
.content .article p {
  padding: 10px;
}

.container>.sidebar {
  grid-column: span 2;
  grid-row: span 4;
  background: #485460;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .sidebar img {
  display: block;
  width: 100%;
  margin-top: 5px;
}

.container>.related-post {
  background: #2d3436;
  color: #ffffff;
  height: 180px;
  ;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
}

.container>.related-post:hover {
  cursor: pointer;
  color: #000000;
  background: #ffffff;
}

/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
  .header {
      text-align: center;
  }
  .container .content {
      grid-column: 1 / -1;
  }
  .container .sidebar {
      grid-column: 1 / 6;
  }

  .container .related-post {
      grid-column: 1/-1;
  }
}


